@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    list-style: none;
	text-decoration: none;
	color: #000;
	font-family: 'Roboto Mono', monospace;
}

header {
	height: 80px;
}

a, a:link, a:visited, a:active {
	text-decoration: none;
	color: #000;
}

.home-container {
	height: calc(100vh - 80px);
	background-color: red;
}

.projects-container {
	height: 100vh;
	background-color: pink;
}

.contact-container {
	height: 100vh;
	background-color: yellow;
}