<table>
    <tr>
        <td>
            <p>José Habacuc Soto Hernández</p>
            <p>SER SNI3, y tener cuadritos</p>
        </td>
        <td>
            <img src="https://lh3.googleusercontent.com/proxy/5k-CjXOBdU_Diy-jWzzTnS123X-OEuwHB6csg9ksMyu3MJJa1gl39vvzIDPDX0b70FwV_yWeSuw_Nw_e6Y6P8cSzU8gtx5Nc8C7IgSfZmgLLXlLK0ANhgwmAn3xZBvdE0WquBbQIkOdxUh9TveO5Tw" alt="yo" height="100" width="100">
        </td>

        <td>
            <ul>
                <li>josehabacuc182020&#64;gmail.com</li>
                <li>2712099564</li>
                <li>Córdoba, Veracruz</li>
                <li>habacuc.dev</li>
            </ul>
        </td>
    </tr>
</table>