<table>
    <tr>
        <td>
            <p>José Habacuc Soto Hernández</p>
            <p>Ingeniero en progreso</p>
        </td>
        <td>
            <img src="https://avatars.githubusercontent.com/u/86739811?v=4" alt="Habacuc" height="100" width="100">
        </td>

        <td>
            <ul>
                <li>josehabacuc182020&#64;gmail.com</li>
                <li>2712099564</li>
                <li>Veracruz, México</li>
                <li>habacuc.dev</li>
            </ul>
        </td>
    </tr>
</table>