<h3>Habilidades</h3>
<div class="skills-container">
    <div class="skill">
        <span class="skill-name">Programación en Python</span>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 60%;"></div>
        </div>
    </div>
    <div class="skill">
        <span class="skill-name">Análisis de Datos</span>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 40%;"></div>
        </div>
    </div>
    <div class="skill">
        <span class="skill-name">Machine Learning</span>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 15%;"></div>
        </div>
    </div>
    <div class="skill">
        <span class="skill-name">Bases de Datos</span>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 60%;"></div>
        </div>
    </div>
    <div class="skill">
        <span class="skill-name">Desarrollo Web</span>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 70%;"></div>
        </div>
    </div>
</div>
