<table border="1" style="width: 100%; table-layout: fixed;">
    <tr>
        <td colspan="2">
            <app-header></app-header>
        </td>
    </tr>
    <tr>
        <td style="width: 50%;">
            <app-work-experience></app-work-experience>
            <app-education></app-education>
        </td>
        <td style="width: 50%;">
            <app-skills></app-skills>
            <app-languages></app-languages>
            <app-interests></app-interests>
        </td>
    </tr>
</table>
