<h3>Logros</h3>
<div class="achievements-container">
    <div class="achievement-item">
        <h4>Certificado de AI Azure 900</h4>
        <p>Certificación obtenida en la comprensión de los fundamentos de la inteligencia artificial en la plataforma Azure.</p>
    </div>
    <div class="achievement-item">
        <h4>Proyecto de Análisis de Datos</h4>
        <p>Desarrollé un proyecto de análisis de datos en el que se procesaron más de 50,000 registros de ventas para identificar patrones de compra y tendencias del cliente.</p>
    </div>
</div>
